<% content_for :title do %>
  About Read With Me
<% end %>


<div class='homepage_hero' style="height:75px">
	<center>
		<h3>
			We unlock the true potential of sharing, discussing, and discovering news. 
		</h3>

	</center>
</div>

<br/>
<div class='row'>
	
	<div class='span12'>

		<h4>
			Why we created <span class="brand"> Read With Me </span>
		</h4>

		We all frequently read and share news online. However, current methods are unfortunately inefficient and ineffective, especially when you want to do anything besides just forward a link.
	
		<br/>
		<br/>
	
		Born out of personal frustrations with the lack of such tools, <span class="brand"> Read With Me </span> is built with your news experience as the design priority. This is version 0.5 – with many more coming!
		<br/>
		<hr/>
		

		<h4>
			Who are we?
		</h4>


		We are friends and classmates who like to tinker and see if we can make things better.

		<br/>

		<h5>
			Varun Bhartia
			&nbsp

			<a href='mailto:varun@getreadwithme.com' title='Send an Email to Varun'>
				<span class='icon-emailalt'></span>
			</a>

			&nbsp

			<a href='http://www.linkedin.com/in/vbhartia' title='Find Varun on Linkedin'>
				<span class='icon-linkedin'></span>
			</a>
		</h5>
		<strong>
			&nbsp<i>"Does whatever needs to be done"</i>
		</strong>
			<br/>
			&nbsp Varun heads up strategy and product development, as well as doing the dishes. He does whatever is necessary to make sure Read With Me is awesome.

		<br/>
		<br/>
		<h5>	
			Ryan Eskridge 
			&nbsp
			<a href='mailto:ryan@getreadwithme.com' title='Send an Email to Ryan'>
				<span class='icon-emailalt'></span>
			</a>

			&nbsp

			<a href='http://www.linkedin.com/in/ryanmeskridge' title='Find Ryan on Linkedin'>

				<span class='icon-linkedin'></span>
			</a>
	
		</h5>
		<strong>
			&nbsp<i>"Reader"</i>
		</strong>
			<br/>
			&nbsp Ryan is the man.	

		 

	</div>
</center>
</div>
<br/>
		<hr/>

<%= link_to "Contact Us", 'mailto:?to="info@getreadwithme.com"' %> 




<%= render :partial =>"static_pages/shared/footer" %>