<% content_for :title do %>
  Install the Read With Me Bookmark
<% end %>


<div class='row homepage_hero'>
	<center>

		<span class='brand'>
			<h2 style="display:inline">
				Read With Me
			</h2> 
		</span>
		<h2 style="display:inline">
			Bookmark
		</h2>

		<br/>

		<h5>
			<p>
			The Read With Me bookmark provides a clean, ad-free reading experience, enabling discussion right within news articles and sharing with your friends. 
			</p>
		</h5>

		<p>
			Simply use the Add to Read With Me bookmark on any news article to create a clean reading experience.	
		</p>

		<br/>


		<strong>Drag this bookmark to your Bookmarks Bar ->

		<a href = "javascript:(function(){RWM_Script=document.createElement('SCRIPT');RWM_Script.src='<%= ENV['domain'] %>/rwm_reader.js?x=+(Math.random())';document.getElementsByTagName('head')[0].appendChild(RWM_Script);})();" > 
			
			<button class="btn btn-primary"  type="button">
				<span class='brand'>
					Read With Me 
				</span>
					Bookmark
			</button>
		</a>

		</strong>



	</center>
</div>

<div class='row'>
	<div class='span6'>

		<h3>
			Some tips to get started:
		</h3>

		<div class="row media">
			<div class="media-body">
 				<h4 class="media-heading">
	  				1. Ensure your bookmark bar is visible.
  				</h4>

  				Instructions for the major web browsers are available here: 
  				<br/>

	  			<a href="http://support.google.com/chrome/bin/answer.py?hl=en&amp;answer=95745"
	  			target="_blank">Google Chrome</a>

				<a href="http://support.mozilla.org/en-US/kb/Bookmarks%20Toolbar" target="_blank">Mozilla Firefox</a>

				<a href="http://support.apple.com/kb/HT4550" target="_blank">Safari</a>

				<a href="http://windows.microsoft.com/en-US/windows7/Show-or-hide-the-Favorites-bar-in-Internet-Explorer" target="_blank">Internet Explorer</a>
			
				<a href="http://my.opera.com/desktopteam/blog/2010/09/15/hello-bookmarks-bar" target="_blank">Opera</a>
			
			</div>

			<br/>
			<br/>

			<div class="media-body">
 				<h4 class="media-heading">
					2. Drag the 
					<a href = "javascript:(function(){RWM_Script=document.createElement('SCRIPT');RWM_Script.src='<%= ENV['domain'] %>/rwm_reader.js?x=+(Math.random())';document.getElementsByTagName('head')[0].appendChild(RWM_Script);})();" > 
			
						<button class="btn btn-primary"  type="button">
							<span class='brand'>
							Read With Me 
						</span>
						Bookmark
						</button>
					</a>

					 to your bookmark bar.
  				</h4>
			</div>

			<br/>
			<br/>

			<div class="media-body">
 				<h4 class="media-heading">
					3. Use the 
				<span class='brand'>
					Read With Me 
				</span>
					Bookmark on any news article!
  				</h4>
  					Add your comments right in the article via inline commenting and overall discussion. Share your version of the article with your friends.

			</div>

		</div>

	</div> 
	
	<div class='span6 right_homepage_container'>
		
			<h3>
				See how it works:
			</h3>

		
		<iframe width="450" height="315" src="//www.youtube.com/embed/7BXNTozWm8k" frameborder="0" allowfullscreen></iframe>
	</div> 
</div>


<%= render :partial =>"static_pages/shared/footer" %>

