<% content_for :title do %>
  Install the Read With Me Bookmark
<% end %>


<div class='row homepage_hero'>
	<center>
		<h2>
			Read With Me Bookmark
		</h2>

		The Read With Me bookmark provides a clean, ad-free reading experience, enabling discussion right within news articles and sharing with your friends. 

		<br/>


		<strong>Move this to your Bookmarks Bar ->

		<a href = "javascript:(function(){RWM_Script=document.createElement('SCRIPT');RWM_Script.src='<%= ENV['domain'] %>/rwm_reader.js?x=+(Math.random())';document.getElementsByTagName('head')[0].appendChild(RWM_Script);})();" > 
			
						<button class="btn btn-primary"  type="button">
				Read With Me Bookmark
			</button>
		</a>

		</strong>

		<br/>
		<br/>

		After adding bookmarklet, navigate to any news article on the web and click the Read With Me button.

	</center>
</div>

<div class='row'>
	<div class='span6'>

		<h3>
			Some tips to get started:
		</h3>

		<div class="row media">
			<div class="media-body">
 				<h4 class="media-heading">
	  				1. Ensure your bookmark bar is visible.
  				</h4>

  				Instructions for the various web browsers are available here: <br/>

	  			<a href="http://support.google.com/chrome/bin/answer.py?hl=en&amp;answer=95745">Google Chrome</a>

				<a href="http://support.mozilla.org/en-US/kb/Bookmarks%20Toolbar">Mozilla Firefox</a>

				<a href="http://support.apple.com/kb/HT4550">Safari</a>

				<a href="http://windows.microsoft.com/en-US/windows7/Show-or-hide-the-Favorites-bar-in-Internet-Explorer">Internet Explorer</a>
			
				<a href="http://my.opera.com/desktopteam/blog/2010/09/15/hello-bookmarks-bar">Opera</a>
			
			</div>

			<br/>

			<div class="media-body">
 				<h4 class="media-heading">
					2. Drag the "add to Read With Me" to your bookmark bar.
  				</h4>
			</div>

			<br/>

			<div class="media-body">
 				<h4 class="media-heading">
					3. Use the Read With Me button on any news article!
  				</h4>
  					Add your comments right in the article via inline commenting and overall discussion. Share your version of the article with your friends.

			</div>

		</div>

	</div> 

	
	<div class='span6 right_homepage_container'>
		
			<h3>
				Quick demo of how it works
			</h3>
			<br/>
			<br/>
		
		<iframe width="420" height="315" src="//www.youtube.com/embed/nJrFvUExMuw" frameborder="0" allowfullscreen></iframe>
	</div> 
</div>


<%= render :partial =>"static_pages/shared/footer" %>

