
<div class='row homepage_hero'>
	<center>
		<h2>
			Read With Me Bookmark
		</h2>

		The Read With Me bookmark provides a clean, ad-free reading experience, enabling discussion right within news articles and sharing with your friends. 

		<br/>


		Move this to your Bookmarks Bar ->

		<a href = "javascript:(function(){RWM_Script=document.createElement('SCRIPT');RWM_Script.src='<%= ENV['domain'] %>/rwm_reader.js?x=+(Math.random())';document.getElementsByTagName('head')[0].appendChild(RWM_Script);})();" > 
			
			<strong>Add to Read With Me</strong>
			
		</a>

		<--

		<br/>

		After adding bookmarklet, navigate to any news article on the web and click the Read With Me button.

	</center>
</div>

<div class='row'>
	<div class='span6'>

		<h3>
			Some tips to get started:
		</h3>

		<div class="row media">
			<div class="media-body">
 				<h4 class="media-heading">
	  				1. Ensure your bookmark bar is visible
  				</h4>
	
	  			<br/>&nbsp;Google Chrome
				<br/>Mozilla Firefox
				<br/>Safari
				<br/>Internet Explorer
				<br/>Opera
			</div>
		</div>

		<div class="row border">
			2. Drag the "add to Read With Me" to your bookmark bar
		</div>

		<div class="row border">
			3. Navigate to any news article and simply click on "Read With Me" to start a discussion and share the article with your friends
		</div>


	</div> 

	
	<div class='span6 right_homepage_container'>
		
			<h3>
				Quick demo of how it works
			</h3>
			<br/>
			<br/>
		
		<iframe width="420" height="315" src="//www.youtube.com/embed/nJrFvUExMuw" frameborder="0" allowfullscreen></iframe>
	</div> 
</div>


<%= render :partial =>"static_pages/shared/footer" %>

