<% content_for :title do %>
  Read With Me Privacy Policy
<% end %>

<h2>
	Privacy Policy
</h2>

<ul>	
<li>
  Read With Me allows you to add comments directly to an article, and then share that version of the article.  Anyone who receives the link to the article can view your comments; only registered users can add their own comments.
</li>

<br/>

<li>
	While you are likely to share your comments only with people you know, if someone forwards the link, it may reach people you do not know. Your comments are not private to only your friends.
</li>

<br/>

<li>
	Read With Me also allows you to log in via the Facebook platform. This enables you to share directly to Facebook from the article. Additional Facebook integration features may be included in later versions of Read With Me.  Read With Me does not view or share your Facebook information; it is simply used as a log-in mechanism that enhances your experience using Read With Me.
</li>

<br/>

<li>
	If you have any questions or comments about this Privacy Policy, please contact us at info@getreadwithme.com
</li>

<br/>

<li>
	This policy is effective as of August 7, 2013
</li>

</ul>






<%= render :partial =>"static_pages/shared/footer" %>