<br/>
<br/>

<div class="row footer" >
	<div class='container'>

		<div class='span4 homepage_footer_left'>
			<%= link_to "About", about_path %> <br/>
			<%= link_to "Talent", talent_path %> <br/>
			<%= link_to "Contact", contact_path %> <br/>
			<%= link_to "Privacy", privacy_path %> <br/>
		</div>

		<div class='span3 homepage_footer_center'>
			<center>
				<a href='#'>

					<img class="homepage_image_footer_icon" src="assets/facebook_icon.png">
				</a>

				<a href='#'>
					<img class="homepage_image_footer_icon" src="assets/twitter_icon.png">
				</a>

				<a href='#'>
					<img class="homepage_image_footer_icon" src="assets/linkedin_icon.png">
				</a>
			
			<center>

		</div>


		<div class='span4 homepage_footer_right'>
			Read With Me 2013
	
		</div>



	</div>
</div>
