<div class='row'>
	<div id="footer" >
		<div class='span4 homepage_footer_left'>
			<h3>
			Contact <br/>
			Talent <br/>
			About <br/>
			</h3>
		</div>

		<div class='span4 homepage_footer_center'>
			<h3>
			Find us 
			</h3>

			<center>
				<img class="media-object homepage_image_icon" src="assets/facebook_icon.jpg">

				<img class="media-object homepage_image_icon" src="assets/twitter_icon.jpg">

				<img class="media-object homepage_image_icon" src="assets/linkedin_icon.jpg">


			</center>
		</div>


		<div class='span4 homepage_footer_right'>
			<h3>
				Read With Me 2013
			</h3>

			<center>

			</center>
		</div>



	</div>
</div>
