.comment_section {
  height: 150px;
  background-color: gray;
  overflow: scroll;
}

/* For iframe  */

.comment_input {
	position: absolute;
	border-radius: 5px;
	height:150px;
	width:225px;
	background-color: gray;
	z-index:200;
}