
table#table_id tbody td th div tr {
	height: 10px;
	overflow: hidden;
}


.cell_headline {
	overflow: auto;
	font-weight: bold;
	width: 100%
}

.cell_image {
	width: 100px;
}

.cell_actions {

}

.table_action_icons {
	padding: 3px;
}

.index_article_icon {
	font-size: 15px; 
	color: rgb(0, 0, 0); 
	text-shadow: black 0px 0px 0px;
}

.center_full_width {
	width:100%;
	text-align: center;
	white-space:nowrap;
}