// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face 
{
    font-family: 'AlgerianRegular';
    src: url("<%= asset_path('ALGER.ttf') %>") format("truetype");
  }

.brand 
{
    font-family: 'AlgerianRegular';
    font-size: 18px;
}


$home_page_well_color:rgb(217,217,217);


.beta_notifications {
	background-color: rgba(173,216,230,1);
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
}

.homepage_background {
	background-color: white

}

.homepage_hero
{
	height:220px;
	/*background-color:$home_page_well_color;*/
	
	/*background-color:#edf0f5;*/

	/*background-image: -webkit-linear-gradient(bottom right, #FFFFFF 0%, #00A3EF 100%);*/
	
	border-radius:5px;
	margin: 0px;
	padding: 0px;
	padding-top:5px;

	/* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */

	/*
	background-image: -ms-linear-gradient(bottom right, #FFFFFF 0%, #00A3EF 100%);

	background-image: -moz-linear-gradient(bottom right, #FFFFFF 0%, #00A3EF 100%);

	background-image: -o-linear-gradient(bottom right, #FFFFFF 0%, #00A3EF 100%);

	background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #00A3EF));

	background-image: -webkit-linear-gradient(bottom right, #FFFFFF 0%, #00A3EF 100%);

	background-image: linear-gradient(to top left, #FFFFFF 0%, #00A3EF 100%);
	*/

background: -webkit-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;
background-repeat: no-repeat, repeat, repeat, no-repeat;
background-position: top center, 1px 1px, 0px 0px, top center;

}

.secondary_hero
{
	height:150px;
	background-color:$home_page_well_color;	
}


.homepage_image_footer_icon
{
	height:32px;
	width:32px;
}

.homepage_image_icon
{
	height:64px;
	width:64px;
}

.footer
{
    background: -webkit-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;
	background-repeat: no-repeat, repeat, repeat, no-repeat;
	background-position: top center, 1px 1px, 0px 0px, top center;
    

    width: 100%;
    height: 100px;

    bottom: 0;
    left: 0;
    right: 0;

    position: relative;

    padding: 5px;
  	padding-right: 20px;
  	padding-top: 10px;

}

#footer h3{
	color:	blue
}

.homepage_footer_left
{
	text-align:left;
}

.homepage_footer_center
{
	text-align:center;
}

.homepage_footer_right
{
	text-align:right;
	float: right

}

.content {
	margin: 0 auto;
	width: 1340px;
}

.right_homepage_container {
	margin-left: -5px;
  	margin-right: -20px;
  	padding-left: 20px;
  	margin-top: 10px;
}

.padding-top {
	padding-top: 10px;

}

